
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand m-3" href="#">App RickMorthy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarnav" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarnav">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" routerLink="personajes">Personajes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" routerLink="capitulos">Capitulos</a>
            </li>
        </ul>
    </div>
</div>
</nav>
